doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        header.header.bg-primary.p-3
            .container-fluid
                h1.text-light #{title}
        .container.mt-5
            .row
                each set in lego
                    .col-md-4
                        .card.mb-4
                            img.card-img-top(src=`/images/${set.imgSrc.cover}`)
                            .card-body
                                a(href=`/set/${set.name}`)
                                    h2.card-title.person-name #{set.name}